---
title: Join us!
suppress_header: true
extra_css:
  - event.css
---

<div class="blank-header" style="background: url('<%= event.header_background %>') center center no-repeat / cover;">
  <div class="header-content">
    <% if event.header_image %>
      <img class="event-logo" src="<%= event.header_image %>" alt="<%= event.topic %> gitlab event image">
    <% else %>
      <img class="event-logo" src="/images/devops-tools/gitlab-logo.svg" alt="GitLab logo svg">
    <% end %>
    <h1>Join us at <%= event.topic %></h1>
    <p><%= event.header_description %></p>
  </div>
</div>
<div class="gitlab-content-container">
  <div class="tile event-details">
    <div class="tile-content full-width flex-container flex-column justify-center align-center">
      <img class="tile-icon-medium" src="/images/events/event-date-icon.svg" alt="<%= event.topic %> date icon svg">
      <h4><%= event.date %></h4>
    </div>
    <div class="tile-content full-width flex-container flex-column justify-center align-center">
      <img class="tile-icon-medium" src="/images/events/event-location-icon.svg" alt="<%= event.topic %> location icon svg">
      <h4><%= event.location %></h4>
    </div>
    <% if event.booth? || event.booth == "" %>
      <div class="tile-content full-width flex-container flex-column justify-center align-center">
        <img class="tile-icon-medium" src="/images/events/event-booth-icon.svg" alt="<%= event.topic %> booth icon svg">
        <h4>Booth #<%= event.booth %></h4>
      </div>
    <% end %>
  </div>
  <div class="content flex-container">
    <div class="body-content">
      <%= kramdown(event.content) %>
    </div>
    <% if event.form %>
      <div class="event-form-container">
        <h3 class="margin-top0"><%= event.form.title %></h3>
        <% if event.form.description? || event.form.description == "" %>
          <p><%= event.form.description %></p>
        <% end %>
        <p class="browser-render">If form does not render, <a href="https://www.google.com/chrome/" target="_blank"> please use another browser.</a></p>
        <script src="//app-ab13.marketo.com/js/forms2/js/forms2.min.js"></script>
        <form id="mktoForm_<%= event.form.number %>"></form>
        <script type="text/javascript">
          var formNumber = <%= event.form.number || 'null' %>;
          MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", formNumber, function(form) {
            form.onSuccess(function() {
              form.getFormElem().hide();
              $('.confirmform').attr('style', 'visibility: visible');
              $('.confirmform').attr('style', 'height: initial');
              return false;
            });
          });
        </script>
        <div class="confirmform" style="visibility:hidden;height:0;">
          <div class="centered-form-info">
            <h3>Registration Received!</h3>
            <% if event.form.success_message %>
              <p><%= event.form.success_message %></p>
            <% else %>
              <p>Thank you for registering. You will receive an email with additional webcast details.</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if event.speakers && event.speakers.length > 0 %>
    <div class="content speakers-container">
      <% event.speakers.each do |speaker| %>
        <div class="tile speaker-container">
          <% if speaker.image %>
            <div class="speaker-image-container">
              <img src="<%= speaker.image %>" alt="<%= speaker.name %>">
            </div>
          <% end %>
          <div class="speaker-content-container">
            <% if speaker.topic %>
              <h3 class="margin-top0"><%= speaker.topic %></h3>
            <% end %>
            <p class="speaker-name"><%= speaker.name %><br><%= speaker.title %></p>
            <div class="speaker-time-place font-bold flex-container">
              <% if speaker.date %>
                <p><%= speaker.date %></p>
                <p class="spacer">-</p>
              <% end %>
              <% if speaker.time %>
                <p><%= speaker.time %></p>
                <p class="spacer">-</p>
              <% end %>
              <% if speaker.location %>
                <p><%= speaker.location %></p>
              <% end %>
            </div>
            <p><%= kramdown(speaker.description) %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
