.hello-bar-wrapper
  %a.hello-bar.animated.hello-bar-dark{ href: '/2018/09/22/gitlab-11-3-released/' }
    .hello-bar-content
      -# = image_tag "/images/home/gcp-logo.png", srcset: "/images/home/gcp-logo@2x.png 2x"
      %p
        GitLab 11.3 released with Maven intergration, protected environments, code owners, and much more!
