---
title: GitLab Demo
suppress_header: true
extra_css:
  - demo.css
---

.demo-container
  .video-container#video-container
    .demo-info#demo-info
      %h2 See GitLab in action!
      %p
        Curious why more than 100,000 organizations - from startups to global enterprise organizations, including
        %a{ href: "https://about.gitlab.com/stages-devops-lifecycle/manage/" } Ticketmaster,
        %a{ href: "https://about.gitlab.com/stages-devops-lifecycle/manage/" } Paessler AG,
        NASDAQ,
        Alibaba,
        %a{ href: "https://about.gitlab.com/stages-devops-lifecycle/manage/" } Axway,
        and Intel -
        trust GitLab to deliver great software at new speeds?
      %p
        Watch a
        %strong 18 minute video
        to learn
        %strong how GitLab makes the software lifecycle 200% faster
        by consolidating the entire DevOps lifecycle within a single solution.
      %p
        GitLab provides everything you need to
        %a{ href: "https://about.gitlab.com/stages-devops-lifecycle/manage/" } Manage,
        %a{ href: "https://about.gitlab.com/stages-devops-lifecycle/plan/" } Plan,
        %a{ href: "https://about.gitlab.com/stages-devops-lifecycle/create/" } Create,
        %a{ href: "https://about.gitlab.com/stages-devops-lifecycle/verify/" } Verify,
        %a{ href: "https://about.gitlab.com/stages-devops-lifecycle/package/" } Package,
        %a{ href: "https://about.gitlab.com/stages-devops-lifecycle/release/" } Release,
        %a{ href: "https://about.gitlab.com/stages-devops-lifecycle/configure/" } Configure,
        %a{ href: "https://about.gitlab.com/stages-devops-lifecycle/monitor/" } Monitor,
        and
        %a{ href: "https://about.gitlab.com/stages-devops-lifecycle/secure/" } Secure
        your applications. In this demo, you will get a short overview of
        %strong GitLab’s built-in
        %a{ href: "https://docs.gitlab.com/ee/user/project/issues/", target: "_blank" } issue tracking,
        %a{ href: "https://about.gitlab.com/product/issueboard/"  } issue boards,
        %a{ href: "https://about.gitlab.com/product/source-code-management/" } version control,
        %a{ href: "https://about.gitlab.com/product/code-review/" } code review,
        %a{ href: "https://about.gitlab.com/product/auto-devops/" } Auto DevOps,
        %a{ href: "https://about.gitlab.com/features/gitlab-ci-cd/" } CI/CD,
        %a{ href: "https://docs.gitlab.com/ee//user/project/merge_requests/sast.html", target: "_blank" } SAST
        %a{ href: "https://docs.gitlab.com/ee/user/project/merge_requests/dast.html", target: "_blank" } /DAST
        and more!
    #confirmform{ style: "display: none;" }
      .centered-form-info
        %h2 Enjoy the demo!
        %p
          Have questions or want a personalized demo? Submit your questions/demo request at our
          %a{ href: "/sales/" } contact sales page
        %iframe#demo-video{src: "", allow: "autoplay; encrypted-media", allowfullscreen: "allowfullscreen"}
  .demo-form-container#demo-form-container
    %img.demo-icon{ src: "/images/demo/demo.svg" }
    %h3.margin-bottom30 Register to access the demo
    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1754
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1754, function(form) {
        form.onSuccess(function() {
          // show demo video
          document.getElementById('video-container').style.display = 'block';
          document.getElementById('demo-form-container').style.display = 'none';
          document.getElementById('confirmform').style.display = 'block';
          document.getElementById('demo-video').src = "https://www.youtube.com/embed/nMAgP4WIcno";
          document.getElementById('demo-video').style.display = 'block';
          document.getElementById('demo-info').style.display = 'none';
          window.scrollTo(0, 0);
          // form.getFormElem().hide();
          return false;
        });
      });
